ion-title{
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 40px;
}
#ache{
    text-align: center;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 40px;
}


.mensajes{

    margin-left: 700px;

}

#sesion{

    margin-left: 700px;

    margin-top: 40px;

}

#no_hay_cuenta{

    position: relative;

    padding: 30px;

    margin-left: 650px;

    display: block;

    border: 40px;

}
